.hes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hes label{
    width: 100%;
    text-align: center;
}

.hes img{
    max-width: 90%;
    max-height: 90%;
}

.hes div{
    flex: 1 1 100px;
}

.wait{
    display: none;
}

header.page-header > h1 {
    text-align: center;
    align-content: center;
}